/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    padding: 12px;
    border: 3px solid rgb(0, 0, 0); 
    border-radius: 20px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical; 
    text-align: center;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background: linear-gradient(#734b6d, #2c3e50);
    color: rgb(181, 181, 181);
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background: linear-gradient(#bf5db0, #3c5772);
  }
  
  /* Add a background color and some padding around the form */
  .container1 {
    border-radius: 5px;
    padding: 5px;
  }

  /* Error Message Style */
  .error {
    color: red;
    margin-bottom: 30px;
  }

  .formLable {
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #201e20;
  }


